social-icons/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #090979; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #090979; 
}

.movie {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	resize: none;
}

.movie-content {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.movie-content > div {
    margin:20px;
}

.btn-block{
	width: 15%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #e4e0e0;
}

#content {
	background-image: url("../static/movie1.jpeg");
	background-size: cover;
}

#details {
	margin-left: 50px;
}

.body-content {
	position: relative;
  	min-height: 100%;
}

.footer {
	color: #e4e0e0;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	text-align:center;
	position: fixed;
	bottom: 0;
 	width: 100%;
}

.social-icons {
	margin-left: 15px;
	color: #e4e0e0 !important;
	font-size: 15px !important;
}


@media only screen and (max-width: 650px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
    }
    #details {
		margin-left: 30px;
	}
    #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 40%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

	#autoComplete {
	  background-position: 97% ;
	}
	
	svg[data-toggle=tooltip] {
		width: 50px;
		height: 50px;
	}

	.fa-arrow-up{
		font-size: 1em;
		color: #ffffff;
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
		padding: 10px;
		border-radius: 50%;
		float: right;
		bottom: 10px;
		position: relative;
	}
}

@media only screen and (max-width: 991px) {
	.modal-body{
		display: block;
	}
	.profile-pic {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.modal-body {
		display: flex;
	}
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
   }

	#mcontent {
		display: flex;
		flex-wrap: nowrap;
	}

	#loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 20%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
}

.card:hover {
	cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style:solid; 
    border-width:1px;
}

.fail {
	display: none;
	color: white;
}
