<!doctype html>
<html>

<head>
    <title>What movies do you like?</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    .navbar {
        position: relative;
        /* or you can use 'fixed' if you want the navbar to be fixed on scroll */
        z-index: 1000;
        /* Higher z-index will ensure navbar is above other content */
        background-color: rgba(0, 0, 0, 0.7);
        /* Black with 70% opacity */
        margin-bottom: 0;
        /* Reset default Bootstrap margin */
        height: 80px;

    }
</style>

<body>
    <div class="navbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-center">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img alt="Brand" src="../static/Movie_Recommender1.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/" style="color: white;">Movie Recommender</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-hover" role="button" aria-haspopup="true"
                                    aria-expanded="false" style="color: white;">Top Genres <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="genrePage.html?Genre=Action">Action</a></li>
                                        <li><a href="genrePage.html?Genre=Comedy">Comedy</a></li>
                                        <li><a href="genrePage.html?Genre=Thriller">Thriller</a></li>
                                        <li><a href="genrePage.html?Genre=Adventure">Adventure</a></li>
                                        <li><a href="genrePage.html?Genre=Romance">Romance</a></li>
                                        <li><a href="genrePage.html?Genre=Crime">Crime</a></li>
                                        <li><a href="genrePage.html?Genre=Sci-Fi">Science Fiction</a></li>
                                        <li><a href="genrePage.html?Genre=Fantasy">Fantasy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>

            </div>

    </div><!-- /.container-fluid -->
    </nav>
</div>
    <div class="content">
        <div style="width: 600px; margin: auto;">
            <h2>Please select movies for training</h2>
            <p style="width: 560px; margin: auto;">
                <label>Search Here</label>&nbsp;&nbsp;<input type="text" name="search" id="searchBox" />
            </p>
        </div>
        <div style="width: 600px; margin: auto;">
            <h2>Selected movies : </h2>
            <ul id="selectedMovies">
    
            </ul>
        </div>
        <div style="width: 600px; margin: auto;">
            <input type="button" class="btn btn-primary" name="predict" id="predict" value="Predict">
        
        </div>
        <div style="width: 600px; margin: auto;">
            <h2>Predicted Movies</h2>
            <form class="recos" id="recos">
                <ul id="predictedMovies">
                    
                </ul>
            </form>
            
        </div>
        <div style="width: 600px; margin: auto;">
            <input type="button" class="btn btn-info" name="feedback" id="feedback" value="Give Feedback">
        
        </div>
        <div id="dataCollected" style="width: 600px; margin: auto; display: none;">
            <h1>Thanks!! Your response was stored.
            </h1>
            <input type="button" id="refreshPage" class="btn btn-danger" name="refreshPage" value="Take another attempt">
        </div>
        <br/><br/><br/>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {

        $(function () {
            $("#searchBox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url: "/search",
                        dataType: "json",
                        cache: false,
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            //alert(data);
                            // console.log(data);
                            response(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus + " " + errorThrown);
                        }
                    });
                },
                select: function (event, ui) {
                    var ulList = $('#selectedMovies');
                    var li = $('<li/>').text(ui.item.value).appendTo(ulList);
                    $('#searchBox').val("");
                    return false;
                },
                minLength: 2
            });
        });

        $("#predict").click( function(){
            var movie_list = []

            $('#selectedMovies li').each( function () {
                movie_list.push($(this).text());
            });

            var movies = {"movie_list": movie_list};

            $.ajax({
                type: "POST",
                url: "/predict",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                traditional: "true",
                cache: false,
                data: JSON.stringify(movies),
                success: function (response) {
                    var ulList = $('#predictedMovies');
                    var i = 0;
                    response['recommendations'].forEach(element => {
                        var diventry = $('<div/>');
                        var fieldset = $('<fieldset/>', {id:i}).css("border",'0');
                        var li = $('<li/>').text(element);
                        var radios = $("<label class='radio-inline'><input type='radio' name="+i+" value=1>Dislike</label> \
                        <label class='radio-inline'><input type='radio' name="+i+" value=2>Yet to watch</label> \
                        <label class='radio-inline'><input type='radio' name="+i+" value=3>Like</label><br/><br/>");
                        diventry.append(li);
                        diventry.append(radios);
                        fieldset.append(diventry);
                        ulList.append(fieldset);
                        i+=1;
                    });

                    // var li = $('<li/>').text()
                    console.log("->", response['recommendations']);
                },
                error: function (error) {
                    console.log("ERROR ->" + error );
                }
            });
        });

        $('#feedback').click(function(){
            var myForm = $('fieldset');
            var data = {};
            var labels = {
                1: 'Dislike',
                2: 'Yet to watch',
                3: 'Like'
            };
            for(var i=0;i<myForm.length;i++){
                var input = $('#'+i).find('div').find('input:checked')[0].value;
                var movieName = $('#'+i).find('div').find('li')[0].innerText;
                data[movieName]=labels[input];
            }
            console.log(data);

            $.ajax({
                type: "POST",
                url: "/feedback",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                traditional: "true",
                cache: false,
                data: JSON.stringify(data),
                success: function (response) {
                    // console.log("->", response);
                    // $("#dataCollected").css("display", "block");
                    window.location.href="/success";
                },
                error: function (error) {
                    console.log("ERROR ->" + error );
                }
            });

        });


    });

</script>

</html>