<!doctype html>
<html>

<head>
    <title>What movies do you like?</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
</style>

<body>
    <div class="navbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-center">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img alt="Brand" src="../static/Movie_Recommender1.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/" style="color: white;">Movie Recommender</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-hover" role="button" aria-haspopup="true"
                                    aria-expanded="false" style="color: white;">Top Genres <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="genrePage.html?Genre=Action">Action</a></li>
                                        <li><a href="genrePage.html?Genre=Comedy">Comedy</a></li>
                                        <li><a href="genrePage.html?Genre=Thriller">Thriller</a></li>
                                        <li><a href="genrePage.html?Genre=Adventure">Adventure</a></li>
                                        <li><a href="genrePage.html?Genre=Romance">Romance</a></li>
                                        <li><a href="genrePage.html?Genre=Crime">Crime</a></li>
                                        <li><a href="genrePage.html?Genre=Sci-Fi">Science Fiction</a></li>
                                        <li><a href="genrePage.html?Genre=Fantasy">Fantasy</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>

            </div>

    </div><!-- /.container-fluid -->
    </nav>
</div>
    <br/><br/>
    <div id="dataCollected" style="width: 600px; margin: auto;">
        <h1>Thanks!! Your response was stored.
        </h1>
        <input type="button" id="refreshPage" class="btn btn-danger" name="refreshPage" value="Take another attempt">
    </div>
    <br/><br/>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<script>
    $("#refreshPage").click(function(){
        window.location.href="/";
    });
</script>

</html>